.container{
    /* max-width: 1280px ; */
    max-height: 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
}
.menu{
    text-align: center;
    letter-spacing: 2.7px;
text-transform: uppercase;

}


.img{
    width: 100%;
    height:  789px;
}
.menu{
    display: inline;
    text-align: center;
}
.menu_items{
    display: inline;
    /* margin-bottom: 330px; */
    text-align: center;
    list-style-type: none;
    /* margin-left: 300px; */
    margin-top: 25px;
margin-bottom: 25px;

}
.navigation{
    text-align: center;
}

.header_links{
    font-family: 'Montserrat';
    color: #FF0000;
text-decoration: none;
display: inline;

}
.header_links1{
    font-family: 'Montserrat';
  /* margin-left: 300px;  */
    margin-top: 25px;
margin-bottom: 25px;
color: #FF0000;
text-decoration: none;
font-size: 18px;
line-height: 18px;
 }
.header_links4{
    /* margin-right: 300px; */
    margin-top: 25px;
margin-bottom: 25px;
color: #FF0000;
text-decoration: none;
font-family: 'Montserrat';
font-size: 18px;
line-height: 18px;
}
.header_links2{
    font-family: 'Montserrat';
    margin-top: 25px;
    margin-bottom: 25px;
    color: #FF0000;
    text-decoration: none;
    padding-left: 72px;
    padding-right: 72px;
    font-size: 18px;
line-height: 18px;
}
.header_links3{
    font-family: 'Montserrat';
    margin-top: 25px;
    margin-bottom: 25px;
    color: #FF0000;
    text-decoration: none;
    font-size: 18px;
line-height: 18px;
    padding-right: 50px;
}
.title{
    letter-spacing: 3.3px;
text-transform: uppercase;

color: #373737;
font-family: 'Montserrat';
font-weight: 700;
font-size: 22px;
text-align: center;
margin-bottom: 38px;
}
.text{
    letter-spacing: 2.4px;

color: #373737;
font-family: 'Montserrat';

font-weight: 400;
font-size: 16px;
margin-bottom: 28px;
text-align: center;
margin-left: 67px;
margin-right: 67px;
}



.button{
    letter-spacing: 1.8px;
text-transform: uppercase;
display: block;
color: #FFFFFF;
font-family: 'Montserrat' ;
background: #FF0000;
border-radius: 4px ;
border-color: #FF0000;
width: 191px;
height: 51px;
margin-left: auto;
margin-right: auto;
margin-top: 82px;
text-align: center;
border: none;
transition: 0.9s;

}
.footer{
    padding-top: 99px;
}
.copyright{
   text-align: end;
   margin-right: 480px;
  
   
  
   
}
.link_copyright{
    text-decoration: none;
    letter-spacing: 2.4px;
    font-family: 'Montserrat';
   
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
color: #373737;
}
.button:hover{
    color: black;
    background-color: violet;
    letter-spacing: 4px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    
}